/* styles.css */

/* Reset de estilos para garantir consistência entre navegadores */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo para o corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
}

/* Estilo para os títulos */
h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Estilo para os formulários */
form {
    margin-bottom: 20px;
}

/* Estilo para os rótulos dos campos */
label {
    display: block;
    margin-bottom: 5px;
}

/* Estilo para os campos de entrada */
input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: none;
    box-sizing: border-box;
}

/* Estilo para os botões */
button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilo para os links */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Estilo para a tabela */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

/* Estilo para as células da tabela */
th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

/* Estilo para o botão de exclusão */
.delete-button {
    background-color: #dc3545;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
